node_modules
vendor
build
public
artifacts
dist
bin

*.min.js

lib/assets/javascripts/_agents-admin.js
lib/assets/javascripts/_cloudflare-turnstile-front.js
lib/assets/javascripts/_coupons-admin.js
lib/assets/javascripts/_custom-fields-admin.js
lib/assets/javascripts/_custom-fields-front.js
lib/assets/javascripts/_group-bookings-front.js
lib/assets/javascripts/_invoices-admin.js
lib/assets/javascripts/_messages-admin.js
lib/assets/javascripts/_messages-front.js
lib/assets/javascripts/_recurring-bookings-front.js
lib/assets/javascripts/_role-manager-admin.js
lib/assets/javascripts/_service-extras-admin.js
lib/assets/javascripts/_social-front.js
lib/assets/javascripts/_taxes-admin.js
lib/assets/javascripts/_timezone-front.js
lib/assets/javascripts/_webhooks-admin.js
lib/assets/javascripts/latepoint-pro-features-admin.js
lib/assets/javascripts/latepoint-pro-features-front.js
