node_modules
vendor
build
public
artifacts
dist
bin

docs
scripts

.claude
.github
*.min.js
*.min.css
*.php
*.html
*.json
*.lock
*.js
_webpack.config.js

lib/controllers
lib/models
lib/helpers
lib/views
lib/misc

lib/assets/stylesheets/_agents-admin.scss
lib/assets/stylesheets/_cloudflare-turnstile-front.scss
lib/assets/stylesheets/_coupons-admin.scss
lib/assets/stylesheets/_custom-fields-admin.scss
lib/assets/stylesheets/_custom-fields-front.scss
lib/assets/stylesheets/_invoices-admin.scss
lib/assets/stylesheets/_invoices-front.scss
lib/assets/stylesheets/_locations-admin.scss
lib/assets/stylesheets/_messages-admin.scss
lib/assets/stylesheets/_messages-front.scss
lib/assets/stylesheets/_recurrence-front.scss
lib/assets/stylesheets/_responsive-admin.scss
lib/assets/stylesheets/_responsive-front.scss
lib/assets/stylesheets/_service-durations-admin.scss
lib/assets/stylesheets/_service-extras-front.scss
lib/assets/stylesheets/_shared.scss
lib/assets/stylesheets/_social-front.scss
lib/assets/stylesheets/_taxes-admin.scss
lib/assets/stylesheets/_timezone-front.scss
lib/assets/stylesheets/_webhooks-admin.scss
lib/assets/stylesheets/_whatsapp-admin.scss
lib/assets/stylesheets/latepoint-pro-features-front.scss
