/01-ext-zone/
/akismet/
/all-in-one-seo-pack/
/broken-link-checker-seo/
/complianz-gdpr/
/custom-facebook-feed/
/duplicator/
/extendify/
/google-analytics-for-wordpress/
/google-listings-and-ads/
/hyperlink-group-block/
/instagram-feed/
/jetpack/
/lhv-payment-gateway-for-woocommerce/
/loco-translate/
/map-block-gutenberg/
/ninja-forms/
/official-facebook-pixel/
/omnisend/
/optinmonster/
/really-simple-ssl/
/redirection/
/shortpixel-image-optimiser/
/simplybook/
/smaily-connect/
/sugar-calendar-lite/
/translatepress-multilingual/
/userfeedback-lite/
/woocommerce/
/wp-fastest-cache/
/wp-mail-smtp/
/wp-social-reviews/
/wpconsent-cookies-banner-privacy-suite/
/wpforms-lite/
/klaviyo/
/index.php
*.csv
.idea
